:root {
    --white-color: #fff;
    --light-color: #4c3d3d;
    --dark-color: #332e2e;
    --darker-color: rgb(19, 17, 17);
    --text-color: #000;
    --primary-color: #ff4e5b;
    --hover-color: #db5660;
}

* { 
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.5rem;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.button-primary {
    padding: 12px 20px;
    color: #212529;
    background: var(--primary-color);
    border: none;
}

.button-primary:hover {
    background: var(--hover-color);
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

